[package]
name = "learn-tokio"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
warp = "0.3"
futures-util = "0.3.21"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.83"
reqwest = "0.11.11"
http = "0.2.8"
bytes = "1.2.1"
clap = { version = "3.2.14", features = ["derive"] }
